---
- hosts: all
  become: true
  pre_tasks:

  - name: Update and install Update(CentOS)
    tags: always
    yum:
      name: "*"
      update_cache: yes
    changed_when: false
    when: ansible_distribution == "CentOS"

  - name: Update and Install Update(Ubuntu)
    tags: always
    apt:
      update_cache: yes
    changed_when: false
    when: ansible_distribution == "Ubuntu"

  - name: motd play
    copy:
      content: "Ansible Managed by Magboo\n"
      dest: /etc/motd

- hosts: all
  become: true
  roles:
    - prometheus
    - apache2
